<!doctype html>
<html ng-app>
  <head>
    <script src="files/lib/angular/angular.js"></script>
    <script src="files/js/form.js"></script>
    
  </head>
 
  <body>
    <form ng-controller="UserController" ng-submit="createUser()">
    <legend>Add New User</legend>
 
      <label>Name: </label> 
      <input type="text" id="name" name="name" ng-model="user.name" placeholder="User Name"> 
 
      <label>Password:</label>
      <input type="text" id="pwd" name="pwd" ng-model="user.pwd" placeholder="Your Password">
 
      <button class="btn btn-primary">Add</button>
      <br/>
      <label>{{status}}</label>
    </form>
  </body>
 
</html>